.btn {
  @include inline-flex();
  @include justify-content(center);
  @include align-items(center);
  height: 31px;
  padding: 0 23px;
  border: none;
  background: #f7b518;
  color: #000;
  font-size: 14px;
  line-height: 14px;
  @include oswald-bold();
  text-transform: uppercase;
  -webkit-transition:  background-color .3s ease,  color .3s ease;
  transition: background-color .3s ease,  color .3s ease;

  &:hover {
    background: #fff;
    color: #f98f01;
  }

  &_2 {
    min-width: 150px;
    height: 54px;
    padding: 0 13px;
    @include asap-bold();
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 1px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  }

  &_3 {
    height: 42px;
    min-width: 120px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 14px;
    @include asap-bold();
  }

  &_4 {
    height: 52px;
    width: 100%;
    min-width: 120px;
    padding: 0 10px;
    font-size: 18px;
    line-height: 18px;
    @include asap-bold();
  }

  &_5 {
    width: 100%;
    max-width: 294px;
    height: 45px;
    margin: 0 auto;
    color: #fff;
    @include asap-bold();
    background-color: #ccc;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
  }

  &_6 {
    min-width: 155px;
    height: 58px;
    background: $main-black-color;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
    color: $main-white-color;
    font-size: 20px;
    @include asap-bold();
  }
}

@media (min-width: $tablet-portrait) {

  .btn {
    min-width: 102px;
    height: 40px;
    font-size: 18px;
    line-height: 18px;

    &_2 {
      min-width: 151px;
      height: 55px;
      font-size: 18px;
      line-height: 18px;
    }

    /*&_2 {
      min-width: 193px;
      height: 70px;
      font-size: 23px;
      line-height: 23px;
    }*/

    &_3{
      min-width: 151px;
      height: 54px;
    }

    &_4{
      max-width: 305px;
      height: 54px;
    }

    &_5{
      height: 60px;
      max-width: 277px;
    }

    &_6 {
      min-width: 175px;
      height: 65px;
      font-size: 20px;
    }
  }

}

@media (min-width: $tablet-landscape) {

  .btn {

    &_2 {
      min-width: 150px;
      height: 54px;
      font-size: 18px;
      line-height: 18px;
    }

    &_5{
      font-size: 24px;
    }

  }
}
