
.contact-us {
  text-align: center;
  padding: 27px 17px 50px;
  background: $main-yellow-color_2;

  p {
    display: none;
  }
  a[href^='tel'] {
    color: inherit;
    cursor: default;
  }
  &__title{
    margin-bottom: 50px;
    font-size: 26px;
    letter-spacing: -1.2px;
    color: $main-black-color;
    text-align: center;
    text-transform: uppercase;
    @include oswald-bold();

    i {
      display: block;
      width: auto;
      margin: 0 auto 5px;
      font-size: 30px;
    }

  }
  &__address {
    font-style: normal;

    dl {
      color: $main-black-color;
      text-align: left;
      max-width: 170px;
      margin: 0 auto 39px;

      &:last-child {
        margin-bottom: 0;
      }
      dt {
        margin-bottom: 4px;
        font-size: 18px;
        color: $main-black-color;
        text-transform: uppercase;
        line-height: 36px;
        letter-spacing: 1.1px;
        @include asap-bold();
      }
      dd {
        display: block;
        margin-bottom: 0;
        font-size: 16px;
        line-height: 25px;
        @include asap-regular();
      }
    }
  }
  &__form {
    margin-bottom: 33px;
  }
}

@media (min-width: $tablet-portrait) {

  .contact-us {
    padding: 82px 0 54px;

    p {
      display: block;
      margin-bottom: 41px;
      font-size: 18px;
      color: $main-black-color;
      line-height: 24px;
      @include asap-regular();
    }
    &__title {
      margin-bottom: 32px;
    }
    &__content {
      margin-bottom: 54px;
    }
    &__address {
      text-align: center;

      > dl {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 0;
        width: 17%;
        text-align: left;
        max-width: none;

        &:last-child {
          margin-left: 126px;
        }
      }
    }
    &__form {
      margin: 0 0 86px;
    }
  }
}
@media (min-width: $desktop) {

  .contact-us {
    padding: 72px 0 55px;

    p {
      margin-bottom: 40px;
    }
    &__title {
      margin-bottom: 34px;
      font-size: 27px;

      i {
        margin-bottom: 14px;
        font-size: 31px;
      }
    }
    &__form {
      margin-bottom: 85px;
    }
    &__address {

      > dl {
        width: 9.8%;

        &:last-child {
          margin-left: 115px;
        }
        dt {
          margin-bottom: 4px;
        }
      }
    }
  }
}


