.hero {
  position: relative;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &:before{
    content: '';
    display: block;
    height: 62px;
    width: 100%;
    background-color: #000;
  }

  &__title {
    margin: 0 0 22px;
    @include oswald-bold();
    font-size: 40px;
    line-height: 44px;
    color: #fff;
    text-transform: uppercase;

    span {
      color: #f98f01;
    }

  }

  &__layout {
    @include flexbox();
    @include justify-content(center);
    @include align-items(flex-end);
    @include flex-direction();
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    padding-top: 100px;
  }

  &__content {
    position: relative;
    max-width: 619px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #fff;

    p {
      margin: 0 0 44px;
      letter-spacing: .5px;
    }

  }

}

@media (min-width: $tablet-portrait) {

  .hero{

    &:before{
      display: none;
    }

    &__layout {
      padding-bottom: 188px;
    }

    &__content {
      padding: 0;
      text-align: left;

      p {
        max-width: 466px;
        margin: 0 0 39px;
        font-size: 18px;
        letter-spacing: .7px;
        line-height: 22px;
      }

    }

    &__title {
      max-width: 466px;
      margin: 0 0 22px;
      font-size: 54px;
      line-height: 62px;
    }

  }

}

@media (min-width: $desktop) {

  .hero{

    &__title {
      max-width: 482px;
      padding-top: 24px;
      border-top: 6px solid #f98f01;
    }

    &__layout {
      padding-bottom: 137px;
    }

    &__content{
      max-width: 924px;
    }

  }

}


