.hero {
  position: relative;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &:before{
    content: '';
    display: block;
    height: 62px;
    width: 100%;
    background-color: #000;
  }

  &__title {
    margin: 0 0 22px;
    @include oswald-bold();
    font-size: 40px;
    line-height: 44px;
    color: #fff;
    text-transform: uppercase;

    span {
      color: #f98f01;
    }

  }

  &__layout {
    @include flexbox();
    @include justify-content(center);
    @include align-items(flex-end);
    @include flex-direction();
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    padding-top: 100px;
    z-index: 2;
    pointer-events: none;
  }

  &__content {
    position: relative;
    max-width: 619px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    pointer-events: all;

    p {
      margin: 0 0 44px;
      letter-spacing: .5px;
    }

  }

  &__video{
    width: 300px;
    margin: 15px auto 0;

    iframe{
      width: 100%;
    }

  }

  &__button-prev,
  &__button-next{
    position: absolute;
    top: 50%;
    width: 15px;
    height: 80px;
    background-color: rgba(0,0,0,.24);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;

    &:before{
      content: '';
      position: absolute;
      top: 45%;
      left: 6px;
      width: 7px;
      height: 7px;
      border-top: 1px solid #fff;
      border-left: 1px solid #fff;
      transform: rotate(-45deg);
    }

  }

  &__button-prev{
    left: 10px;
  }

  &__button-next{
    right: 10px;

    &:before{
      left: 3px;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }

  }

}

.hero-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 235px;
  padding: 61px 15px 20px;
  background: $main-yellow-color_2;

  &__title {
    font-size: 38px;
    line-height: 56px;
    letter-spacing: -1.8px;
    text-transform: uppercase;
    color: $main-white-color;
    @include oswald-bold();

    &_2 {
      font-size: 29px;
      letter-spacing: 0.5px;
      @include asap-bold();
    }
  }
  &__footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: absolute;
    top: calc( 100% - 25px );
    left: 0;
    width: 100%;
  }
  &__footer-item {
    min-width: 238px;
    margin: 0 5px 25px;
    background: $main-white-color;
    box-shadow: 0 0 20px 0 rgba(159, 159, 159, 0.8);
    font-size: 16px;
    line-height: 54px;
    color: $main-black-color;
    text-align: center;
    @include asap-bold();

    i{
      position: relative;
      top: -1px;
      font-size: 12px;
      margin-right: 5px;
    }

  }
}

@media (min-width: $tablet-portrait) {

  .hero{

    &:before{
      display: none;
    }

    &__layout {
      padding-bottom: 188px;
    }

    &__content {
      padding: 0;
      text-align: left;

      p {
        max-width: 466px;
        margin: 0 0 39px;
        font-size: 18px;
        letter-spacing: .7px;
        line-height: 22px;
      }
    }

    &__title {
      max-width: 466px;
      margin: 0 0 22px;
      font-size: 54px;
      line-height: 62px;
    }

    &__video{
      margin: 15px 0 0;
    }

  }

  .hero-inner {
    min-height: 284px;
    margin-bottom: 0;
    padding: 75px 15px 0;
  }
  &__footer-item {
    margin: 0 5px;
  }

}

@media (min-width: $desktop) {

  .hero{

    &__title {
      max-width: 482px;
      padding-top: 24px;
      border-top: 6px solid #f98f01;
    }

    &__layout {
      align-items: flex-start;
      padding-top: 192px;
      padding-bottom: 40px;
    }

    &__content{
      max-width: 924px;
    }

    &__video{
      width: 482px;

      iframe{
        height: 272px;
      }

    }

    &__button-prev,
    &__button-next{
      cursor: pointer;
    }

  }

  .hero-inner {
    min-height: 293px;
    padding: 80px 15px 0;
  }

}


