.place {
  position: relative;
  z-index: 1;

  &__title {
    margin-bottom: 4px;
    font-size: 24px;
    color: $main-black-color;
    text-align: center;
    text-transform: uppercase;
    @include oswald-bold();

    i {
      display: block;
      width: auto;
      margin: 0 auto 16px;
      font-size: 28px;
    }

  }

  &__subtitle{
    margin-bottom: 66px;
  }

  &__map{
    position: relative;
    height: 643px;
    background-color: #fff;
    z-index: 2;

    #map{
      height: inherit;
    }

  }

  &__popup{
    padding: 42px 0 90px;
    background-color: rgba(255,255,255,.8);
    text-align: center;
    z-index: 2;
  }

  &__layout{
    overflow: hidden;
  }

  &__labels{
    position: relative;
    max-height: 201px;
  }

  .label{
    display: block;
    position: relative;
    padding: 11px 0 12px;
    border-top: 1px solid #f3f3f3;
    color: #f77;
    @include oswald-regular;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;

    &:after{
      position: absolute;
      top: 18px;
      right: 20px;
      width: 6px;
      height: 6px;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      content: '';
    }

    &:first-child{
      margin-top: 0;
    }

    &:nth-child(2n){
      color: #43b5ea;
    }

    &:nth-child(5n-2){
      color: #ffdc1a;
    }

    &:nth-child(5n-3){
      color: #85d29f;
    }

  }

  .ps-container>.ps-scrollbar-y-rail{
    opacity: 1;
    z-index: 22;
  }

  .ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y{
    width: 3px;
  }

}

@media (min-width: $tablet-portrait) {

  .place {
    padding: 79px 85px 69px;
    background-color: #f98f01;

    &__title{
      margin-bottom: -1px;
      font-size: 27px;
      letter-spacing: -2px;
    }

    &__subtitle{
      margin-bottom: 82px;
      font-size: 14px;
      font-style: italic;
    }

    &__map{
      height: 643px;
    }

    &__popup{
      padding: 59px 54px 90px;
      background-color: #fff;
    }

    &__list{
      display: flex;
      flex-flow: wrap row;
      justify-content: space-between;
      align-items: stretch;
    }

    &__labels{
      padding: 0 35px 0 36px;
    }

    .label{
      padding: 14px 0 9px;
    }

  }

}

@media (min-width: $desktop) {

  .place {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 58px 85px 62px;

    &__map{
      width: 100%;
      max-width: 600px;
    }

    &__title{

      i{
        margin-bottom: 15px;
        font-size: 30px;
      }

    }

    &__subtitle {
      margin-bottom: 79px;
    }

    &__popup{
      width: 100%;
      max-width: 600px;
      padding-top: 86px;
    }

    &__labels{
      padding-right: 23px;
    }

    .label{
      padding: 11px 17px 12px;
      text-align: left;
    }

  }

}