.presentation {
  padding: 54px 8px 72px;
  background: $main-black-color;

  &__layout{
    position: relative;
  }

  &__title{
    margin-bottom: 44px;
    font-size: 18px;
    color: $main-white-color;
    text-align: center;
    text-transform: uppercase;
    @include oswald-bold();

    i {
      display: block;
      width: auto;
      margin: 0 auto 17px;
      font-size: 27px;
    }

  }

  &__list {
    max-width: 310px;
    margin: 0 auto;
  }

  &__item {
    width: 33%;
    max-width: 400px;
    height: 436px;
    padding: 32px 20px 36px;
    background: $main-white-color;
    text-align: center;
    overflow: hidden;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &__item-title {
    margin-bottom: 17px;
    font-size: 54px;
    line-height: 1;
    letter-spacing: -3px;
    color: $main-black-color;
    text-transform: uppercase;
    @include oswald-bold();
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__item-text {
    overflow: hidden;
    height: 70px;
    margin-bottom: 6px;
    font-size: 24px;
    line-height: 34px;
    color: $main-yellow-color_2;
    @include asap-bold();
  }

  &__item-list {
    max-height: 130px;
    margin-bottom: 37px;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    color: $main-black-color;
    overflow: hidden;

    li {
      position: relative;
      padding-left: 13px;
      
      &:after {
        position: absolute;
        top: 12px;
        left: 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $main-black-color;
        content: '';
      }
    }

  }

  &__button-prev,
  &__button-next{
    position: absolute;
    top: 50%;
    width: 15px;
    height: 80px;
    background-color: rgba(0,0,0,.24);
    -webkit-transform: translateY(-28%);
    transform: translateY(-28%);
    z-index: 2;

    &:before{
      content: '';
      position: absolute;
      top: 45%;
      left: 6px;
      width: 7px;
      height: 7px;
      border-top: 1px solid #fff;
      border-left: 1px solid #fff;
      transform: rotate(-45deg);
    }

  }

  &__button-prev{
    left: 0;
  }

  &__button-next{
    right: 0;

    &:before{
      left: 3px;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }

  }

}

@media (min-width: $tablet-portrait) {

  .presentation {
    padding: 51px 9px 97px;

    &__title{
      font-size: 24px;

      i{
        margin-bottom: 15px;
      }

    }

    &__list {
      max-width: 400px;
    }

    &__item-list{
      max-width: 248px;
      margin: 0 auto 37px;
    }

    &__button-prev:before,
    &__button-next:before{
      width: 9px;
      height: 9px;
    }

    &__button-next:before{
      left: -3px;
    }

  }

}

@media (min-width: $desktop) {

  .presentation {

    &__title i{
      margin-bottom: 19px;
    }

    &__list {
      width: 100%;
      max-width: 1216px;

      & > div{
        justify-content: space-between;
        align-items: stretch;
      }

    }

    &__item-list {
      max-width: 269px;
    }

    &__button-prev,
    &__button-next{
      display: none;
    }

  }

}


