.schedule {
  padding: 40px 17px 55px;

  &__title {
    margin-bottom: 41px;
    font-size: 25px;
    color: $main-black-color;
    text-align: center;
    text-transform: uppercase;
    @include oswald-bold();
    letter-spacing: -1px;

    i {
      display: block;
      width: auto;
      margin: 0 auto 21px;
      font-size: 30px;
    }

  }

  &__track{
    display: block;
    box-sizing: border-box!important;
    width: 100%;
    height: 47px;
    min-height: 68px;
    margin-bottom: 4px;
    padding: 6px 8px 0 10px;
    transition: background-color .3s ease, color .3s ease;
    -webkit-transition: background-color .3s ease, color .3s ease;
    color: #000;
    font-size: 15px;
    line-height: 16px;
    border-left: 6px solid #ffa019;
    background-color: #fff6e9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &_duplicate{
      display: none;
    }

    &-time{
      display: block;
      width: 90px;
      font-size: 14px;
      line-height: 19px;
    }

    &_empty{
      border-left: none;
      background: repeating-linear-gradient(-45deg, #f3f3f3, #f3f3f3 1px, transparent 1px, transparent 4px);
      background-color: #fff;
    }

  }

  &__month{
   display: none;
  }

  #calendar{
    display: none;
  }

}

@media (min-width: $tablet-portrait) {

  .schedule {
    padding: 47px 17px 65px;

    &__title {
      font-size: 24px;
    }

    & > div{
      max-width: 420px;
      margin: 0 auto;
    }

    &__track{
      margin-bottom: 5px;
    }

  }

}

@media (min-width: $desktop) {

  .schedule {
    padding: 67px 17px 60px;

    &__track {
      position: relative;
      height: 85px;
      margin-bottom: 3px;
      line-height: 18px;
      box-sizing: border-box !important;
      -webkit-transition: background-color .3s ease, color .3s ease, border-left-color .3s ease;
      transition: background-color .3s ease, color .3s ease, border-left-color .3s ease;

      &:after {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 35px;
        height: 30px;
        line-height: 26px;
        background-color: #f9b601;
        color: #000;
        font-size: 24px;
        @include asap-bold;
        text-align: center;
        opacity: 0;
        -webkit-transition: opacity .3s ease;
        transition: opacity .3s ease;
        content: '+';
      }

      &:hover{
        border-left-color: #000;
        background-color: #000;
        color: #fff;

        &:after{
          opacity: 1;
        }

      }

    }

    &__title{
      margin-bottom: 65px;

      i{
        margin-bottom: 15px;
      }

    }

    & > div{
      position: relative;
      max-width: 570px;

      .websters-select{
        display: none;
      }

    }

    &__month{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 43px;
      padding: 0 10px;
    }

    &-dates{
      display: none;
    }

    &__venue-frame{
      display: none;
    }

    &__month-item {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      width: 173px;
      height: 63px;
      margin-bottom: 10px;
      border: 1px solid #f2f2f2;
      color: #9d9d9d;
      font-size: 16px;
      line-height: 20px;
      @include asap-medium;
      text-transform: uppercase;
      text-align: center;
      transition: box-shadow .3s ease, background-color .3s ease, color .3s ease, border-color .3s ease;
      -webkit-transition: box-shadow .3s ease, background-color .3s ease, color .3s ease, border-color .3s ease;

      &:hover{
        box-shadow: 0 5px 10px 0 rgba(122, 67, 198, 0.2);
      }

      &.active {
        background-color: #f98f01;
        color: #000;
        border-color: #f98f01;
        box-shadow: 0 5px 10px 0 rgba(122, 67, 198, 0.2);
        cursor: default;
      }

      strong{
        color: #000;
        font-size: 20px;
      }

    }

    #calendar{
      display: block;
      position: relative;
      max-width: 1057px;
      margin-bottom: 51px;
    }

    &__btn-wrap{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__calendar-prev,
    &__calendar-next{
      display: block;
      width: 39px;
      height: 39px;
      margin: 0 5px;
      border: none;
      border-radius: 50%;
      background: url(../img/bg-arrow.png) no-repeat center #000;
      text-indent: 999px;
      z-index: 3;
      overflow: hidden;
      cursor: pointer;
      -webkit-transition: background-color .3s ease, box-shadow .3s ease, opacity .3s ease;
      transition: background-color .3s ease, box-shadow .3s ease, opacity .3s ease;

      &:hover {
        background-color: #f98f01;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
      }

      &.disabled{
        opacity: .8;
        cursor: default;
        background-color: #000;
        box-shadow: none;
      }

    }

    &__calendar-prev{
      right: 0;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);

      &:hover {
        box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.2);
      }

    }

    &__calendar-next{
      right: 45px;
    }

    &__button-prev,
    &__button-next{
      position: absolute;
      top: 50%;
      width: 15px;
      height: 63px;
      background-color: rgba(0,0,0,.24);
      -webkit-transform: translateY(-57%);
      transform: translateY(-57%);
      cursor: pointer;
      z-index: 2;

      &:before{
        content: '';
        position: absolute;
        top: 45%;
        left: 6px;
        width: 7px;
        height: 7px;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        transform: rotate(-45deg);
      }

    }

    &__button-prev{
      left: -22px;
    }

    &__button-next{
      right: -22px;

      &:before{
        left: 3px;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
      }

    }

  }

}


