.trusted {
  padding-top: 30px;

  &__layout {
    width: 100%;
    padding: 0 13px;
    overflow: hidden;
  }

  &__title {
    margin-bottom: 45px;
    font-size: 18px;
    color: $main-black-color;
    text-align: center;
    text-transform: uppercase;
    @include oswald-bold();
  }

  &__list {

    li {
      width: 100%;
      margin: 0 auto 51px;
      text-align: center;
    }

    a {
      display: block;
      position: relative;
      max-width: 160px;
      margin: 0 auto;
    }

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }

  }

}

@media (min-width: $tablet-portrait) {

  .trusted {
    padding: 50px 0 32px;

    &__title{
      margin-bottom: 28px;
      font-size: 24px;
    }

    &__layout {
      padding: 0;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      max-width: 750px;
      margin: 0 auto;

      li{
        width: 25%;
        margin: 0 0 30px;

        img{
          max-height: 55px;
        }

      }

      a{
        max-width: 120px;
      }

    }

  }

}

@media (min-width: $desktop) {

  .trusted {
    padding: 39px 0 5px;

    &__layout {
      max-width: 1346px;
      margin: 0 auto;
      padding: 0;
    }

    &__list {
      max-width: 87%;

      li{

        img {
          max-height: 81px;
        }

      }

      a{
        max-width: 205px;
        @include transition(transform, .2, 0);

        &:hover {
          -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
        }

      }

    }

  }

}


